* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --color-primary: #6c63ff;
    --color-success: #00bf8e;
    --color-warning: #f7c94b;
    --color-danger: #f75842;
    --color-danger-variant: rgba(247, 88, 66, 0.4);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.7);
    --color-black: #000;
    --color-bg: #1f2641;
    --color-bg1: #2e3267;
    --color-bg2: #424890;
    --color-bg3: #0584c8;
    --color-bg4: #035c94;

    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all 400ms ease;

    --hue-color: 250;
    /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

    /* HSL color mode */
    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #fff;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.7;
    color: var(--color-white);
    background: linear-gradient(to right, #00294f, #0080cf);
}


.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

.container #flex {
    display: flex;
    align-items: center;
}

.container #flex h5 {
    padding-left: 0.825rem;
    font-size: 1.2rem;
}

section {
    padding: 6rem 0;
}

section h2 {
    text-align: center;
    margin-bottom: 4rem;
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.2;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.3rem;
}

a {
    color: var(--color-white);
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

#img {
    width: 65px;
    height: 69px;
}

.cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
}

.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: linear-gradient(to right, #00294f, #0080cf);
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
}

.cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #fff;
}

.cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #ffff;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.cta:hover:before {
    width: 100%;
    background: #035c94;
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active {
    transform: scale(0.95);
}

.btn {
    display: inline-block;
    background: var(--color-white);
    color: var(--color-black);
    padding: 0.825rem 2rem;
    border-radius: 10px;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);
}

.btn:hover {
    background: transparent;
    color: var(--color-white);
    border-color: var(--color-white);
}

.btn-primary {
    background: var(--color-danger);
    color: var(--color-white);
    padding: 1rem;
}

/* NAVBAR */

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    height: 70px;
    background: linear-gradient(to right, #00294f, #0080cf);
    z-index: 99;
}

nav .navbar {
    height: 100%;
    max-width: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.navbar .logo {
    padding-top: 35px;
}

nav .navbar .nav-links {
    line-height: 70px;
    height: 100%;
}

nav .navbar .links {
    display: flex;
}

nav .navbar .links li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0 14px;
}

nav .navbar .links li a {
    height: 100%;
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
    font-size: 1.063rem;
    font-weight: 500;
}

.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow {
    transform: rotate(180deg);
}

nav .navbar .links li .arrow {
    /* background: red; */
    height: 100%;
    width: 22px;
    line-height: 70px;
    text-align: center;
    display: inline-block;
    color: #fff;
    transition: all 0.3s ease;
}

nav .navbar .links li .sub-menu {
    position: absolute;
    top: 70px;
    left: 0;
    line-height: 40px;
    background: #3E8DA8;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 4px 4px;
    display: none;
    z-index: 2;
}

nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu {
    display: block;
}

.navbar .links li .sub-menu li {
    padding: 0 22px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar .links li .sub-menu a {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}

.navbar .links li .sub-menu .more-arrow {
    line-height: 40px;
}

.navbar .links li .htmlCss-more-sub-menu {
    /* line-height: 40px; */
}

.navbar .links li .sub-menu .more-sub-menu {
    position: absolute;
    top: 0;
    left: 100%;
    border-radius: 0 4px 4px 4px;
    z-index: 1;
    display: none;
}

.links li .sub-menu .more:hover .more-sub-menu {
    display: block;
}


.navbar .nav-links .sidebar-logo {
    display: none;
}

.navbar .bx-menu {
    display: none;
}



.link {
    display: inline-block;
    margin-bottom: 2px;
    position: relative;
}

.link::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .25s ease;
}

.link:hover::after {
    transform: scaleX(1);
}

.nav-item a {
    color: #fff;
}

.nav-item ul li a {
    color: #181818;
}


header {
    position: relative;
    top: 6rem;
    overflow: hidden;
    height: 75vh;
    margin-bottom: 5rem;
}

.header__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
    height: 100%;
}

.header__left p {
    margin: 1rem 0 2.4rem;
}

.section {
    background-color: #fff;
    padding: 4.5rem 0 2rem;
}

.section__title {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.section__title span {
    color: hsl(25, 83%, 53%);
}

.section__subtitle {
    display: block;
    font-size: .813rem;
    ;
    color: hsl(25, 83%, 53%);
}

.popular__img {
    max-width: 100%;
    height: auto;
    border-radius: 1rem;
    margin-bottom: 1rem;
}


.popular__container {
    padding: 1rem 0 5rem;
}

.popular__card {
    width: 290px;
    background-color: #fff;
    padding: 5.50rem 1.50rem;
    border-radius: 1rem;
    margin: 0 auto;
    transition: .4s;
}

.popular__data {
    padding: 0 1rem 0 .5rem;
}

.popular__price {
    font-size: 1.25rem;
    color: hsl(228, 15%, 50%);
    margin-bottom: .25rem;
    text-align: left;
}

.popular__price span {
    color: hsl(25, 83%, 53%);
}

.popular__title {
    margin-bottom: .75rem;
    font-size: 1rem;
    color: hsl(228, 15%, 50%);
}

.popular__description {
    font-size: .813rem;
    color: hsl(228, 15%, 50%);
}

.popular__card:hover {
    box-shadow: 0 12px 16px hsla(228, 66%, 45%, .1);
}

.swiper-button-next::after, 
.swiper-button-prev::after {
    content: '';
    display: none;
}

.swiper-button-next .bx, 
.swiper-button-prev .bx {
    position: absolute;
    top: 480%;
    width: initial;
    height: initial;
    background-color: #fff;
    border: 2px solid hsl(228, 15%, 50%);
    padding: 6px;
    border-radius: .5rem;
    font-size: 1.5rem;
    color: hsl(25, 83%, 53%);
}

.center {
    margin-top: 6rem;
}


/* Centralizar as setas */
.swiper-button-next{
    right: calc(50% - 3rem) !important;
}

.swiper-button-prev{
    left: calc(50% - 3rem) !important;
}

.categories {
    background: #fff;
    height: 32rem;
}

.categories h1 {
    line-height: 1;
    margin-bottom: 3rem;
    color: #202020;
}

.categories__container {
    display: grid;
    grid-template-columns: 40% 60%;
}

.categories__left {
    margin-right: 4rem;
}

.categories__left p {
    margin: 1rem 0 3rem;
    color: #202020;
}

.btncl {
    background-color: #00294f;
    color: #fff;
}

.btncl:hover {
    background-color: #00294f;
    color: #0584c8;
    transition: 3s;
}

.categories__right {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
}

.category {
    background: var(--color-bg3);
    padding: 1.25rem;
    border-radius: 2rem;
    transition: var(--transition);
    cursor: pointer;
    width: 100%;
    z-index: 1;
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
}

.category:hover {
    z-index: 1;
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.7);
}

.category:nth-child(2) .category__icon {
    background: var(--color-danger);
}

.category:nth-child(3) .category__icon {
    background: var(--color-success);
}

.category:nth-child(4) .category__icon {
    background: var(--color-warning);
}

.category:nth-child(5) .category__icon {
    background: var(--color-success);
}


.category__icon {
    background: var(--color-bg4);
    padding: 0.7rem;
    border-radius: 0.9rem;
}

.category h5 {
    margin: 2rem 0 1rem;
}

.category p {
    font-size: 0.85rem;
}

.courses {
    margin-top: 1rem;
}

.courses__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.course {
    background: var(--color-bg4);
    text-align: center;
    border: 3px solid #fff;
    transition: var(--transition);
    border-radius: 10px;
}

.course:hover {
    background: transparent;
    border: 2px solid var(--color-bg4);
    border-radius: 5px;
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.8);
}

.course__info {
    padding: 2rem;
}

.course__info p {
    margin: 1.2rem 0 2rem;
    font-size: 0.9rem;
}

.faqs {
    background: #fff;
}

.faqs h2 {
    color: #202020;
}

.faqs__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
}

.faq {
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 1.4rem;
    height: fit-content;
    background: var(--color-bg4);
    cursor: pointer;
}

.faq h4 {
    font-size: 1rem;
    line-height: 2;
    color: #fff;
}

.faq__icon {
    align-self: flex-start;
    font-size: 1.2rem;
}

.faq p {
    margin-top: 0.8rem;
    display: none;
    color: #fff;
}

.faq i {
    color: #fff;
}

.faq.open p {
    display: block;
}

.testimonials__Container {
    overflow-x: hidden;
    position: relative;
    margin-top: 5rem;
}

.testimonial {
    padding-top: 2rem;
}

.avatar {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 0.825rem;
    border: 1rem solid var(--color-white);
}

.testimonial__info {
    text-align: center;
}

.testimonial__body {
    background: var(--color-bg4);
    padding: 2rem;
    height: 25%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    position: relative;
}


.testimonial__body::before {
    content: "";
    display: flex;
    justify-content: center;
    background: linear-gradient(135deg, transparent, var(--color-bg4), var(--color-bg4));
    width: 3rem;
    height: 3rem;
    position: absolute;
    right: 45%;
    top: -1.5rem;
    transform: rotate(45deg);
}

.stars {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
}

.stars img {
    width: 25px;
}

footer {
    background: linear-gradient(to right, #00294f, #0080cf);
    padding-top: 5rem;
    font-size: 0.9rem;
}

.footer__container {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
}

.footer__container>div h4 {
    margin-bottom: 1.0rem;
}

.footer__1 p {
    margin: 0;
}

footer ul li {
    margin-bottom: 0.0.5rem;
}

footer ul li a:hover {
    text-decoration: underline;
}

.footer__socials {
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
    margin-top: 0.125rem;
}

.footer__copyright {
    text-align: center;
    margin-top: 4rem;
    padding: 1.2rem 0;
    border-top: 2px solid var(--color-bg3);
}



/* MEDIA QUERIES */

@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-width-md);
    }

    h1 {
        font-size: 2.2rem;
    }

    h2 {
        font-size: 1.7rem;
    }

    h3 {
        font-size: 1.4rem;
    }

    h4 {
        font-size: 1.2rem;
    }

    /* NAVBAR */
    nav button {
        border: 2px solid #ccc;
        padding: 1px 3px;
        border-radius: 5px;
        display: inline-block;
        background-color: transparent;
        font-size: 1.8rem;
        color: var(--color-white);
        cursor: pointer;
    }

    .window-scroll button {
        color: rgb(173, 173, 173);
    }


    nav button#close-menu-btn {
        display: none;
    }

    .nav__menu {
        position: fixed;
        top: 5rem;
        right: 5%;
        height: fit-content;
        width: 18rem;
        flex-direction: column;
        gap: 0;
        display: none;
    }

    .nav__menu li {
        width: 100%;
        height: 4.5rem;
        animation: animateNavItems 400ms linear forwards;
        transform-origin: top right;
        opacity: 0;
    }

    .nav__menu li:nth-child(2) {
        animation-delay: 400ms;
    }

    .nav__menu li:nth-child(3) {
        animation-delay: 600ms;
    }

    .nav__menu li:nth-child(4) {
        animation-delay: 800ms;
    }

    .nav__menu li:nth-child(5) {
        animation-delay: 1s;
    }

    @keyframes animateNavItems {
        0% {
            transform: rotateZ(-90deg) rotateX(90deg) scale(0.1);
        }

        100% {
            transform: rotateZ(0) rotateX(0) scale(1);
            opacity: 1;
        }
    }

    .nav__menu li a {
        background: var(--color-bg4);
        box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
    }

    .nav__menu li a:hover {
        background: var(--color-bg2);
        color: var(--color-white);
    }

    .window-scroll a {
        color: var(--color-white);
    }

    /* HEADER */

    header {
        height: 65vh;
        margin-bottom: 3rem;
    }

    .header__container {
        gap: 0;
        padding-bottom: 2rem;
    }

    /* CATEGORIES */

    .categories {
        height: auto;
    }

    .categories__container {
        grid-template-columns: 1fr;
        gap: 3rem;
    }

    .categories__left {
        margin-right: 0;
    }

    /* CURSOS */

    .courses {
        margin-top: 0;
    }

    .courses__container {
        grid-template-columns: 1fr 1fr;
    }

    /* FAQS */

    .faqs {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }

    .faq {
        padding: 1.5rem;
    }

    /* FOOTER */

    .footer__container {
        grid-template-columns: 1fr 1fr;
    }


    @media (max-width:920px) {
        nav .navbar {
            max-width: 100%;
            padding: 0 25px;
        }

        nav .navbar .logo a {
            font-size: 27px;
        }

        nav .navbar .links li {
            padding: 0 10px;
            white-space: nowrap;
        }

        nav .navbar .links li a {
            font-size: 15px;
        }
    }

    /* MEDIA QUERIES CELULARES */

    @media screen and (max-width: 885px) {
        .faqs__container {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            gap: 1rem;
        }
    }

    @media (max-width:800px) {
        nav {
            /* position: relative; */
        }

        .navbar .bx-menu {
            display: block;
        }

        nav .navbar .nav-links {
            position: fixed;
            top: 0;
            left: -100%;
            display: block;
            max-width: 270px;
            width: 100%;
            background: linear-gradient(to right, #00294f, #0080cf);
            line-height: 40px;
            padding: 20px;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            transition: all 0.5s ease;
            z-index: 1000;
        }

        .navbar .nav-links .sidebar-logo {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .sidebar-logo .logo-name {
            font-size: 25px;
            color: #fff;
        }

        .sidebar-logo i,
        .navbar .bx-menu {
            font-size: 25px;
            color: #fff;
        }

        nav .navbar .links {
            display: block;
            margin-top: 20px;
        }

        nav .navbar .links li .arrow {
            line-height: 40px;
        }

        nav .navbar .links li {
            display: block;
        }

        nav .navbar .links li .sub-menu {
            position: relative;
            top: 0;
            box-shadow: none;
            display: none;
        }

        nav .navbar .links li .sub-menu li {
            border-bottom: none;

        }

        .navbar .links li .sub-menu .more-sub-menu {
            display: none;
            position: relative;
            left: 0;
        }

        .navbar .links li .sub-menu .more-sub-menu li {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .links li:hover .htmlcss-arrow,
        .links li:hover .js-arrow {
            transform: rotate(0deg);
        }

        .navbar .links li .sub-menu .more-sub-menu {
            display: none;
        }

        .navbar .links li .sub-menu .more span {
            /* background: red; */
            display: flex;
            align-items: center;
            /* justify-content: space-between; */
        }

        .links li .sub-menu .more:hover .more-sub-menu {
            display: none;
        }

        nav .navbar .links li:hover .htmlCss-sub-menu,
        nav .navbar .links li:hover .js-sub-menu {
            display: none;
        }

        .navbar .nav-links.show1 .links .htmlCss-sub-menu,
        .navbar .nav-links.show3 .links .js-sub-menu,
        .navbar .nav-links.show2 .links .more .more-sub-menu {
            display: block;
        }

        .navbar .nav-links.show1 .links .htmlcss-arrow,
        .navbar .nav-links.show3 .links .js-arrow {
            transform: rotate(180deg);
        }

        .navbar .nav-links.show2 .links .more-arrow {
            transform: rotate(90deg);
        }
    }

    /* MEDIA QUERIES CELULAR */

    @media screen and (max-width: 647px) {
        .swiper-button-next .bx, 
        .swiper-button-prev .bx {
            top: 500%;
        }
    }

    @media screen and (max-width: 600px) {
        .container {
            width: var(--container-width-sm);
        }

        /* NAVBAR */

        .nav__menu {
            right: 3%;
        }

        /* HEADER */

        header {
            height: 100vh;
        }

        .header__container {
            grid-template-columns: 1fr;
            text-align: center;
            margin-top: 1rem;
        }

        .header__left p {
            margin-bottom: 1.3rem;
        }

        /* CATEGORIES */

        .categories__right {
            grid-template-columns: 1fr 1fr;
            gap: 0.6rem;
        }

        .category {
            text-align: justify;
            border-radius: 1rem;
        }

        .category__icon {
            margin-top: 4px;
            display: inline-block;
        }

        /* CURSOS */

        .courses__container {
            grid-template-columns: 1fr;
        }

        /* FAQS */


        .faqs__container {
            grid-template-columns: 1fr;
        }

        .testimonial__body {
            padding: 1.2rem;
        }

        /* FOOTER */

        .footer__container {
            grid-template-columns: 1fr;
            text-align: center;
        }

        .footer__1 p {
            margin: 1rem auto;
        }

        .footer__socials {
            justify-content: center;
        }

        .swiper-button-next .bx, 
        .swiper-button-prev .bx {
            top: 550%;
        }

        @media screen and (max-width: 430px) {
            .categories__right {
                grid-template-columns: 1fr;
                gap: 1git rem;
            }

            .category {
                padding: 0.625rem;
            }
        }
    }
}